.idea/
.venv/
/.env
# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.log
.env
.env.*

# Alembic
alembic/versions/*.pyc

# Docker
*.db
*.pid

# VSCode/IDE
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# MyPy/Pylint
.mypy_cache/
.pytest_cache/

# Database dumps
*.sql
